doctype html
html(ng-app="elementApp" lang="en")
	head
		meta(content="text/html;charset=utf-8", http-equiv="Content-Type") 
		meta(content="utf-8", http-equiv="encoding") 
		//title(ng-bind="'App - ' + title") myapp
		title(ng-bind="title")
		//base(href="your-project-root") if set to /, it will look from localhost/
	body
		h1 helloo
		div(ng-view)
		script(src='lib/jquery-1.11.1.min.js')
		script(src='lib/angular.js')
		script(src="lib/angular-route.min.js")
		script(src='js/app.js')
		
		
		